<!DOCTYPE html>
<html lang="en">
{{>navbar}}
{{>header}}
<body>
        <h1>Index page is working</h1>
        <h3>Your home-page details will appear here.</h3>
        <h4>Css working.</h4>
</body>
</html>